---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  bodyClass?: string;
}

const {
  title = 'devines.org',
  description = '',
  image = '/images/nyc.jpg',
  bodyClass = '',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:image" content={image} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
